@import _root_.world.model.City
@(message: String, country: String, cityList: List[City])

<html>
  <head>
    <title>@message</title>
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
	@tags.header("Hello World!")
  </head>
  <body>
    <div id="results">
	  	<fieldset>
	   		<legend><b>Cities in @country</b></legend>
	   		<table id="tblresults">
		   		<tr>
		   			<td width=200px><b>Name</b></td>
		   			<td width=200px><b>District</b></td>
		   			<td width=100px><b>Population</b></td>
		   		</tr>  
		   		
		   	@cityList.map { city =>
	  			<tr>
	  				<td>@city.name</td>
	  				<td>@city.district</td>
	  				<td>@city.population</td>
	  			</tr>
			} 
	   		</table>
	  	</fieldset>
  	</div>
  </body>
</html>