@import _root_.world.model.City
@(message: String, country: String, cityList: List[City])

<html>
  <head>
    <title>@message</title>
	@tags.header("Hello World!")
  </head>
  <body>
    <div id="results">
	  	<fieldset>
	   		<legend>Cities in @country</legend>
	   		
	   		<table class="table table-bordered table-hover" style="width:75%">
		   		
		   			<th width="col-md-5">Name</th>
		   			<th width="col-md-5">District</th>
		   			<th width="col-md-2">Population</th>
		   		  
		   	@cityList.map { city =>
	  			<tr>
	  				<td>@city.name</td>
	  				<td>@city.district</td>
	  				<td>@city.population</td>
	  			</tr>
			} 
			
	   		</table>
	   		
	  	</fieldset>
  	</div>
  </body>
</html>