@(message: String, country: String, display: String, languagesList: List[(String, String, Integer)])

<html>
  <head>
    <title>@message</title>
    @tags.header("Hello World!")
    <script src="@routes.Assets.at("canvasjs-1.5.7/canvasjs.min.js")"></script>
    <script type="text/javascript">
      function drawChart($display, $dataPoints) {     
        var chart = new CanvasJS.Chart("chartContainer",
        {
          data: [
            {
              type: $display,
              toolTipContent: "{y} (#percent %)",
              dataPoints: $dataPoints,
            }
          ]
        });
        chart.render();
      }
    </script>
  </head>
  <body>
  	<div id="results">
      <fieldset>
      <legend>Languages Spoken in @country</legend>
        <div id="chartContainer" style="height: 350px; width: 100%;">
          <script>
            drawChart('@display', [
              @for(language <- languagesList){
                { y: @language._3, indexLabel: '@language._1' },
              }
            ]);
          </script>
        </div>
        <button class="btn btn-primary" onclick="window.history.back()">Back</button>
      </fieldset>
    </div>
  	<br></br>
  </body>
</html>