@import _root_.world.model.Country
@(message: String, region: String, countryList: List[(String, Double)])

<html>
  <head>
    <title>@message</title>
	@tags.header("Hello World!")
  </head>
  <body>
    <div id="results">
	  	<fieldset>
	   		<legend>Population Densities for @region</legend>
	   		<table id="resultList" class="table table-bordered table-hover" data-height="400" data-pagination="true" style="width:75%">
	   			<thead>
		   			<th widht="col-md-1">#</th>
		   			<th width="col-md-4">Country</th>
		   			<th width="col-md-4">Density</th>
		   		</thead>
		   		<tbody> 
			   	@countryList.sortWith(_._2 > _._2).zipWithIndex.map { case(countryDen, index) =>
		  			<tr>
		  				<td>@(index + 1)</td>
		  				<td>@(countryDen._1)</td>
		  				<td>@("%.2f".format(countryDen._2))</td>
		  			</tr>
				} 
				</tbody>
	   		</table>
	   		<button class="btn btn-primary" onclick="window.history.back()">Back</button>
	  	</fieldset>
  	</div>
  	<br></br>
  </body>
</html>
