#list, p, h3, #button, #form {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: large;
	font-weight: 300;
	padding-left: 100px;
	padding-top: 10px;
}

#list, #button {
	padding-left: 130px
}

label {
	padding-right: 20px
}

#form {
	padding-right: 100px
}

h2 {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: large;
	font-weight: 300;
	font-size: xx-large;
}