@(header: String)
<div id="header">
	<script src="@routes.Assets.at("javascripts/jquery-1.11.2.min.js")"></script>
	<script src="@routes.Assets.at("bootstrap-v3.3.1/js/bootstrap.js")"></script>
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap-v3.3.1/css/bootstrap.min.css")">
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
	<a href="http://www.reactivemanifesto.org/"><img style="border: 0; position: fixed; right: 0; top:0; z-index: 9000" src=@routes.Assets.at("/images/we-are-reactive-green-right.png")></a> 
	<h2 style="padding-left: 100px">@header</h2>
	
	<ul style="padding-left: 85px; padding-top: 10px" class="nav nav-tabs">
    <li id="menu"><a href="/">Home</a></li>
    <li id="world"><a href="/world">Hello World!</a></li>
  </ul>

  <p></p>
  <p></p>
  <p></p>

</div>