@(message: String)

<!DOCTYPE html>

<html>
    <head>
		<title>@message</title>
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
		@tags.header("Play & Scala")
	</head>
	<body>
		<p>Examples and documentation for Scala and Play:</p>
		<div id="list">
			<li><a href="/world">World Database</a></li>
			<li><a href="/manual" target=_"blank">Documentation - Play</a></li>
			<li><a href="http://www.scala-lang.org/documentation/" target="_blank">Documentation - Scala</a></li>
			<li><a href="https://typesafe.com/" target="_blank">Typesafe</a></li>
		</div>
	</body>
</html>
